<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sapiens_OrderPrefix::sales_sequence_profile"
             parent="Sapiens_Core::sapiens"
             title="Sales Increment ID Prefix"
             translate="title"
             module="Sapiens_OrderPrefix"
             action="order_prefix/profile/index"
             sortOrder="0"
             resource="Sapiens_OrderPrefix::sales_sequence_profile"/>
    </menu>
</config>
